<% provide :title, "sign_up" %>
<% provide :button_text, "Sign Up" %>
<h1 class="title_user"><%= t "sign_up" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3 form-group form_user">
    <%= render "form" %>
  </div>
</div>
